.question-card {
    border: solid 1px black;
    padding: 1em;
    margin: 1em;
}

.selection {
    border: solid 1px black;
    padding: .5em;
    margin: .5em;
    width: fit-content;
}

.submit-div {
    text-align: right;
}

.submit-button {
    margin-right: 10%;
}

.question-list {
    text-align: center;
    position: fixed;
    top: 6.5em;
    right: 3em;
    width: 20%;
}

.question-container {
    padding-bottom: 1em;
    text-align: center;
    border: solid 1px black;
}

.question-container > span > button {
    margin-top: 1em;
}