<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <a class="navbar-brand" href="#">{{currentUser?.username | uppercase}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" routerLink="/reimbursements"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reimbursements">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" >{{currentUser?"Logout":"Login"}}</a>
        </li>
      </ul>
    </div>
  </nav>