<button 
    type="button"
    class="btn btn-secondary submit-button"
    routerLink="/manager/question">Create Question</button>

<br><br>

<button 
    type="button" 
    class="btn btn-secondary submit-button"
    routerLink="/manager/quiz">Create Quiz</button>

    <br><br>

<button 
    type="button" 
    class="btn btn-secondary submit-button"
    routerLink="/manager/assign/question">Assign Question to Quiz</button>
    
<br><br>

<button 
    type="button" 
    class="btn btn-secondary submit-button"
    routerLink="/manager/assign/user">Assign Quiz to User</button>